<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
    <title>Frontpage</title>
</head>
<body>
    <h1>This is frontpage. This text should be red</h1>
      
</body>
</html>