<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
    <title>Person page</title>
</head>
<body>
    <h1>This is person page. This text should be red</h1>
    <h1>The id of user is: <%= ID %></h1>
</body>
</html>